@import url("../src/blocks/page.css");
@import url("../src/blocks/header.css");
@import url("../src/blocks/content.css");
@import url("../src/blocks/footer.css");
@import url("../src/blocks/profile.css");
@import url("../src/blocks/cards.css");
@import url("../src/blocks/card.css");
@import url("../src/blocks/popup.css");
@import url("../src/blocks/auth.css");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

